/************ Navbar Css ************/
header {
  background-color: white;
  padding: 20px;
}

header img {
  max-width: 100px;
  cursor: pointer;
}

header .navbar-brand {
  display: block;
  margin-top: 10px;
  font-family: "Baskervville", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.navbar-nav .nav-link {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  font-weight: bold;
}

.navbar-nav:hover .nav-link:not(:hover) {
  opacity: 0.5;
}

@media (max-width: 768px) {
  header .navbar-brand {
    font-size: 24px;
  }
}

/************ Home Css ************/
.home-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  font-family: "Lora", serif;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.image-left,
.image-right {
  max-width: 45%;
  height: auto;
}

.text-right,
.text-left {
  max-width: 45%;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-image {
  animation: slideIn 1s ease-in-out;
}

@media (max-width: 768px) {
  .home-container {
    gap: 30px;
    padding: 15px;
  }

  .section {
    flex-direction: column;
    gap: 15px;
  }

  .image-left,
  .image-right,
  .text-right,
  .text-left {
    max-width: 100%;
  }

  .heading {
    font-size: 20px;
  }

  .paragraph {
    font-size: 14px;
  }
}

/************ Journal Css ************/
.journal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.image-wrapper {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  animation: slideIn 0.5s ease-in-out;
}

.journal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.journal-image:hover {
  transform: translateY(-5px);
}

.journal-heading {
  font-family: "Lora", serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .journal-container {
    padding: 10px;
  }

  .image-wrapper {
    width: 100%;
  }
}

/************ Journal Detail Css ************/
.journal-detail-container {
  text-align: center;
  padding: 20px;
}

.journal-detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.journal-detail-heading {
  font-family: "Lora", serif;
  font-weight: bold;
  margin-top: 20px;
}

.description-container {
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  white-space: pre-line;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.journal-detail-description {
  font-family: "Lora", serif;
  font-weight: normal;
  margin: 0;
  text-align: justify;
}

@media (max-width: 768px) {
  .journal-detail-container {
    padding: 10px;
  }

  .description-container {
    width: 100%;
  }
}

/************ About Css ************/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.linh-pic {
  max-width: 300px;
  height: auto;
  border-radius: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-header {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-paragraph {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  .linh-pic {
    max-width: 200px;
  }

  .about-header {
    font-size: 2rem;
  }

  .about-paragraph {
    font-size: 1rem;
  }
}

/************ Search Css ************/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.search-input {
  width: 780px;
  height: 40px;
  font-family: "Baskerville", serif;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.search-button {
  width: 150px;
  height: 50px;
  font-family: "Baskerville", serif;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  color: black;
  border: solid;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
  background-color: #4caf50;
  color: white;
}

@media (max-width: 768px) {
  .search-container {
    margin-top: 30px;
  }

  .search-input {
    width: 90%;
    font-size: 1rem;
  }

  .search-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }
}
